@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-outfit);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
}

:root {
  /* Dark Theme by default */
  --background: #030305; /* Near black */
  --foreground: #fafafa;

  /* Violet/Purple Brand */
  --primary: #7c3aed; /* Violet 600 */
  --primary-foreground: #ffffff;

  /* Secondary / Surface */
  --secondary: #18181b; /* Zinc 900 */
  --secondary-foreground: #e4e4e7;

  /* Accents */
  --accent: #2e1065; /* Violet 950 */
  --accent-foreground: #ddd6fe;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
